ion-content.background{
    --background: url(../../assets/images/blue-bg-70.png)0 0/100% 100% no-repeat ;
}
ion-popover {
    .popover-wrapper{
        .popover-content{
            top: 40% !important;
         width: 100%!important;
         height: 100%!important;
        }
    }
  }

  ion-input{
      --padding-start:1vh !important
  }

.g{
    color: #3b5998;
    background-color: #3b5998;
    border-radius: 3vh;
    height: 95%;
    width:95%;
   }

.content{
       margin-left:4.5vh;
       margin-right:4.5vh;
       margin-top:8vh;
    //    height:40vh;
   }

.errorMsg{
    color:red;
    padding-left:3vh;
   }

   @font-face{
    font-family: Dosis-Regular;
    font-style: regular;
    src: url("../../assets/fonts/Dosis-Regular.ttf");
}
    @font-face{
    font-family: Dosis-SemiBold;
    font-style: semi-bold;
    src: url("../../assets/fonts/Dosis-SemiBold.ttf");
}

@font-face{
    font-family: Dosis-Medium;
    font-style: dosis-medium;
    src: url("../../assets/fonts/Dosis-Medium.ttf");
}











