// ion-content.background{
//     --background: url(../../assets/images/app-bg-light.png)0 0/100% 100% no-repeat ;
// }

ion-popover {
    div.popover-content {
         top: 50% !important;
         left: 50% !important;
        transform: translate(-50%, -50%) !important;
  }
  }
  ion-input{
      --padding-start:1vh !important
  }

.g{
    color: #3b5998;
    background-color: #3b5998;
    border-radius: 3vh;
    height: 95%;
    width:95%;
   }

.content{
       margin-left:4.5vh;
       margin-right:4.5vh;
       margin-top:8vh;
    //    height:40vh;
   }

.errorMsg{
    color:red;
   }










//    ion-popover {
//     div.popover-content {
//          top: 50% !important;
//          //left: 50% !important;
//         transform: translate(-50%, -50%) !important;
//   }
//   }