<ion-content>
  <div>
    <ion-row style="height: 70px;">
      <!-- <img src="(../../../assets/images/img.png"> -->
    </ion-row>
  </div>
  <div style="margin-top: 10px;">
    <ion-row style="justify-content: center;">
      <ion-col size="1">
      </ion-col>
      <ion-col size="5">
        <img class="g" (click)="displayMenu('search')" src="(../../../assets/images/2.png">
      </ion-col>
      <ion-col size="5">
        <img class="g" style="float: right;" (click)="displayMenu('display')" src="(../../../assets/images/1.png">
      </ion-col>
      <ion-col size="1">
      </ion-col>
    </ion-row>
  </div>
  <ion-card>
    <ion-segment mode="ios" value="Login">
      <ion-segment-button style="height:6vh;" value="Login" (click)="checkView('loginView')">
        <b>Login</b>
      </ion-segment-button>
      <ion-segment-button style="height:6vh;" value="Register" (click)="checkView('registerView')">
        <b>Register</b>
      </ion-segment-button>
    </ion-segment>

    <!-- Registration -->
    <div *ngIf="display">
      <!-- Username -->
      <ion-item>
        <ion-icon name="person-sharp"></ion-icon>
        <ion-input type="text" [(ngModel)]="username" placeholder="Username" class="ion-text-capitalize"
          (ionChange)="uNameValidation($event)"></ion-input>
      </ion-item>
      <span *ngIf="uName" class="errorMsg">Username is required</span>
      <span *ngIf="length" class="errorMsg">Username should atlest contain 4 characters</span>
      <span *ngIf="uNameExist" class="errorMsg">username already taken</span>

      <!-- Create PIN -->
      <ion-item>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <ion-input [type]="getType()" placeholder="Create PIN" [(ngModel)]="createPIN"
          (ionChange)="createPinInput($event)"></ion-input>
        <ion-icon [name]="passwordToggle" item-right (click)="toggleTextPassword()"></ion-icon>
      </ion-item>
      <span *ngIf="pin1" class="errorMsg">PIN is required</span>
      <span *ngIf="pinLength" class="errorMsg">Please enter 4 digit pin</span>

      <!-- Confirm PIN -->
      <div [hidden]="hideConfirmPin">
        <ion-item >
          <ion-icon name="chevron-forward-outline"></ion-icon>
          <ion-input [type]="getType()" placeholder="Confirm PIN" [(ngModel)]="confirmPIN"
            (ionChange)="confirmPinInput($event)"></ion-input>
          <!-- <ion-icon [name]="passwordToggle" item-right (click)="toggleTextPassword()"></ion-icon> -->
        </ion-item>
        <span *ngIf="pin2" class="errorMsg">PIN is required</span>
        <span *ngIf="match" class="errorMsg">PIN does not match</span>
      </div>
      

      <!-- Remember me -->
      <div style=" margin-left: 15px;  margin-bottom: 10px;">
        <ion-row>
          <ion-checkbox (ionChange)="rememberMe('register',$event)"></ion-checkbox>
          <ion-label>
            <p style="font-size: 14px; color: black; margin-left: 5px;">Remember Me</p>
          </ion-label>
        </ion-row>
        <ion-button expand="full" fill="solid" color="primary" [disabled]="disabled"
          style="text-transform:none;font-size: 15px; margin: 10px;" shape="round" (click)="register()">Register
        </ion-button>
      </div>
      <span *ngIf=regError class="errorMsg">Please enter username</span>
    </div>

    <!-- Login -->
    <div *ngIf="!display">
      <ion-item>
        <ion-icon name="person-sharp"></ion-icon>
        <ion-input class="ion-text-capitalize" type="text" placeholder="Username" [(ngModel)]="enterUName"></ion-input>
      </ion-item>
      <span *ngIf="loginUname" class="errorMsg">Please check your username</span>
      <ion-item>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <ion-input [type]="getType()" placeholder="Enter PIN" [(ngModel)]="enterPIN"></ion-input>
        <ion-icon [name]="passwordToggle" item-right (click)="toggleTextPassword()"></ion-icon>
      </ion-item>
      <span *ngIf="loginPin" class="errorMsg">Please check your PIN</span>
      <div style=" margin-left: 15px;  margin-bottom: 10px;">
        <ion-row>
          <ion-checkbox [(ngModel)]="rememberChecked" (ionChange)="rememberMe('login',$event)"></ion-checkbox>
          <ion-label>
            <p style="font-size: 14px; color: black; margin-left: 5px;">Remember Me</p>
          </ion-label>
          
        </ion-row>
        <p><a float="right" (click)="presentPopover($event)">Forgot PIN</a></p>
      </div>
      
        <ion-button expand="full" fill="solid" color="primary" (click)="login()"
          style="text-transform:none;font-size: 15px; margin: 10px;" shape="round">Login</ion-button>
      
    </div>
  </ion-card>
</ion-content>

<!-- <ion-item>
        <ion-icon name="chevron-forward-outline"></ion-icon>
        <ion-input  (ionChange)="pinInput($event)" type="number" style="-webkit-text-security:disc" placeholder="Create PIN" [(ngModel)]="createPIN"></ion-input>
        <ion-icon [name]="passwordToggle" item-right (click)="toggleTextPassword()"></ion-icon>
      </ion-item> -->