ion-item{
    ion-input{
        border: solid 1px #3b5998;
        border-radius: 1vh;
    }
}

ion-input {
    --padding-start:2vw !important
}

ion-item{
    margin-top:1.5vh;
}

.errorMsg{
    color:red;
    padding-left:3vh;
}

ion-popover {
    div.popover-content {
         top: 40% !important;
         width: 90vw !important;
  }
  }