ion-content.background{
    --background: url(../../../assets/images/app-bg-light.png)0 0/100% 100% no-repeat ;
  }

ion-popover {
    div.popover-content {
         top: 50% !important;
         left: 50% !important;
        transform: translate(-50%, -50%) !important;
  }
  }

  ion-card {
    //max-height: 100%;
    display: flex;
    flex-direction: column;
    height:78vh;
  }
  
  ion-list {
    overflow: hidden;
    overflow-y: auto;
    ::-webkit-scrollbar {
      display: none;
    }
  }
