<!-- 
<ion-header>
  <ion-toolbar color="primary">
    <img slot="end" src="../../../assets/images/logo.png"  style="display:inline-block ;height: 8vh; width:8vh;" />
  </ion-toolbar>
</ion-header> -->

<ion-content fullscreen="true" slot="fixed">
  <div class="card">

    <div class="header">
      <div class="avatar">
        <img src="../../../assets/images/icon.png" alt="Logo">
      </div>
    </div>
    <div class="card-body">
      <div class="user-meta ion-text-center">
        <h3 class="h3">Enter the verification code </h3>
        <h5 class="h5"> we just sent you on your email address.</h5>
        <!-- <h3 class="playername">One Time Password</h3>
        <h5 class="country">Enter OTP sent to</h5>
        <ion-label style="margin-top: 2vh;">{{RegisteredNo}}</ion-label>   -->
        <ion-item lines="none">
          <ng-otp-input style="text-align:center;margin-left:5vh; margin-bottom:1vh;" (onInputChange)="onOtpChange($event)"
            [config]="{length:4,allowNumbersOnly:true}"></ng-otp-input>
            <!-- isPasswordInput:true -->
            <ion-icon *ngIf="!verify" name="checkmark-outline" style="margin-left:4vh;color:brown"></ion-icon>
            <ion-icon *ngIf="verify" name="checkmark-outline" style="margin-left:4vh; color:chartreuse" ></ion-icon>
           
        </ion-item>
        <span *ngIf="otpCheck" class="errorMsg" style="margin-left:6vw;">OTP Invalid! Please Check OTP</span>
      </div>
      <!-- [hidden]=match -->
  <ion-card [hidden]=match style="margin-top: 4vh;border-radius: 3vh;">
    <ion-text color="primary">
      <h4 class="title" >Reset Your PIN</h4>
    </ion-text>
    <div>
      <ion-item>
        <ion-icon name="key"></ion-icon>
        <ion-input [type]="getType()" placeholder=" Reset PIN" (ionChange)="resetPin($event,'reset')"
          [(ngModel)]=resetPIN></ion-input>
        <ion-icon [name]="passwordToggle" item-right (click)="toggleTextPassword()"></ion-icon>
      </ion-item>
      <span *ngIf="pinReq" class="errorMsg">PIN required</span>
      <span *ngIf="pinLen" class="errorMsg">Please enter 4 digit pin</span>

      <ion-item>
        <ion-icon name="key"></ion-icon>
        <ion-input [type]="getType()" placeholder=" Confirm PIN" (ionChange)="resetPin($event,'confirm')"
          [(ngModel)]=confirmPIN></ion-input>
      </ion-item>
      <span *ngIf="pinreq" class="errorMsg">PIN required</span>
      <span *ngIf="pinlen" class="errorMsg">Please enter 4 digit pin</span>
      <span *ngIf="pinnotmatch" class="errorMsg">PIN does not match</span>
      <ion-item>
        <ion-button [disabled]="enableRegister" (click)="onSubmit()">Submit</ion-button>
      </ion-item>

    </div>
  </ion-card>
</div>
</div>



</ion-content>