<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Log In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background-image" >
  <div style="margin-top: 0.2vh;">
    <ion-item lines="full">
      <ion-label position="floating">User Name</ion-label>
      <ion-input type="text" required [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item lines="full">
      <ion-label position="floating">Password</ion-label>
      <ion-input type="password" required [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col style="text-align: center;">
        <ion-button type="submit" color="danger" expand="block" (click)="signIn()">Sign In</ion-button>
        <a [routerLink]="['/forgot-password']" class="small-text" style="color: white;">Forgot Password?</a>
      </ion-col>
    </ion-row>
    <span class="divider line one-line">or</span>
    <ion-row>
      <ion-col style="text-align: center;">
        <a [routerLink]="['/forgot-password']" class="small-text" style="color: white;">Guest User</a>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
