ion-content.background{
    --background: url(../../../assets/images/blue-bg-70.png)0 0/100% 100% no-repeat ;
}
.segment{
    height: 6vh;
    width:50vw;
    margin-left:13vh;
    margin-top:1.5vh;
}

.segment-button{
    margin: 0.5vh 0.5vw;  
}

.bg-transparent {
    background: transparent;
}