<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Create Playlist</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-card style="margin:4vh; border-radius:2vh" >
    <ion-text color="primary" style="text-align: center;">
      <h4>Select Aartis</h4>
    </ion-text>
    <ion-list class="bg-transparent" >
      <ion-item *ngFor="let item of data" style=" font-size:3vh;font-weight:300;
      border:1px solid lightgray;border-radius:2vh;margin-left:2vw;margin-right:2vw; margin-bottom:2vh;">
      <label>{{item.marathiTitle}}</label>
      <ion-checkbox slot="end" mode="ios" (ionChange)="getItem($event,item)" [(ngModel)] ="item.isChecked"></ion-checkbox>
        <!-- <input type="checkbox" class="circle" slot="end" mode="ios" (change)="getItem($event,item)">{{item.marathiTitle}} -->
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-button expand="block" fill="solid" color="primary" (click)="onNext()"  [disabled]="checkedbtn" style="margin-top:-2vh;margin-left:4vh;margin-right:4vh;border-radius:2vh;height:5vh">Next</ion-button>
</ion-content>

<!-- without card 
  <ion-list class="bg-transparent">
  <ion-item *ngFor="let item of data" style="--inner-padding-start:22vw; font-size:3vh;font-weight:300;
  border:1px solid lightgray;border-radius:2vh;margin-left:7vw;margin-right:7vw; margin-bottom:2vh;">
    <input type="checkbox" slot="end" mode="ios" (change)="getItem($event,item)">{{item.marathiTitle}}
  </ion-item>
  <ion-button (click)="onNext()" id="rightButton" [disabled]="checkedbtn">Next</ion-button>
</ion-list> -->






<!-- toggle working code
   <ion-segment mode="ios" value="मराठी" class="segment" color="medium" (click)="displayLang()" >
  <ion-segment-button value="मराठी" style="zoom:1;font-weight: 600;" class="segment-button">
    मराठी
  </ion-segment-button>
  <ion-segment-button value="English" style="zoom:1.1;font-weight: 600;" class="segment-button">
    English
  </ion-segment-button>
</ion-segment>
<ion-list  *ngFor="let item of data" >
  <ion-item  *ngIf="!lang">
  <input type ="checkbox" slot="end" mode="ios"  (change)="getItem($event,item)">{{item.marathiTitle}}
  </ion-item>
  <ion-item  *ngIf="lang">
    <input type="checkbox" slot="end" mode="ios" (change)="getItem($event,item)">{{item.englishTitle}}
    </ion-item>
  </ion-list>
  
   <ion-button (click)="onNext()" id="rightButton" [disabled]="checkedbtn" >Next</ion-button> -->