ion-content.background{
    --background: url(../../../assets/images/doodle-background.jpeg)0 0/100% 100% no-repeat;
}
.card{
    ion-card{
        display: inline-block;
        width: 320px;
        margin-top: 80px;
        margin-left: 43px;
    }

}