// section.background{
//   --background: url(../../../assets/images/blue-bg-70.png)0 0/100% 100% no-repeat ;
// }

.list-md {
    padding: 0px!important;
    height: 6vh
}
ion-card {
    max-height: 100%;
    display: flex;
    flex-direction: column;
  }
  .splitData {
    white-space: pre-line;
  }
  section{
    display: inline-block;
    width: 95%;
    height:100%;
    --background: url(../../../assets/images/blue-bg-70.png)0 0/100% 100% no-repeat ;
    //height: 77%;
    //padding-top: 3vh;
  }
  .cat_1 {
    float: left;
  }
  .cat_1{  background: #ffffff;
    height: 80vh;
    overflow: auto;
    width: 100%;
}

.toastAfterHeader{
  position: fixed;
  bottom:96px;
  }

  

