<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Logo</ion-title>
    <ion-button  [disabled]="lowerLimit"slot="end" (click)="change('minus')">-</ion-button>
    <ion-button   [disabled]="upperLimit" slot="end" (click)="change('plus')">+</ion-button>
    
  </ion-toolbar>
</ion-header>

<section>
  
  <!-- <ion-item>
    <ion-range min="0" max="3"  pin="true"color="secondary" vertical="true" [(ngModel)]="rangeVal" (ionChange)="change()">
      <ion-label slot="start">-</ion-label>
      <ion-label slot="end">+</ion-label>
    </ion-range>
  </ion-item> -->
  
    <ion-card class="cat_1">
      <ion-item-divider style="min-height: 8vh;">
          <ion-item *ngIf ="lang"  lines="none" >
            {{ aartiData.englishTitle }}
          </ion-item>
          <ion-item *ngIf="!lang"  lines="none" style="padding-left: 22vw;">
            {{ aartiData.marathiTitle }}
          </ion-item>
      </ion-item-divider>
        <div style="padding-left: 14vw;">
            <ion-item lines="none" *ngIf="!lang"  class="splitData"  text-center no-lines style="padding-top: 10px;" [style.font-size]=smallFont>
              {{ aartiData.marathiAarti }}
            </ion-item>
        </div>
         <div style="padding-left: 15px;"> 
          <ion-item lines="none"  *ngIf="lang" class="splitData" text-center no-lines style="padding-top: 10px;">
            {{ aartiData.englishAarti }}
          </ion-item>
         </div> 
  </ion-card>
  <ion-button (click)="onNextPrev('prev')" style="margin-left:3vw">
    <ion-icon name="caret-back-outline"></ion-icon>Prev
  </ion-button>
  <ion-button  (click)="onNextPrev('next')" style="float: right;">Next
    <ion-icon name="caret-forward-outline"></ion-icon>
  </ion-button>
  <section>
    
    
    


