<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Logo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card scrollY="false">
    <ion-item text-center no-lines>
      {{ aartiData.marathiTitle }}
    </ion-item>
    <ion-item class="splitData" text-center no-lines>
      {{ aartiData.marathiAarti }}
    </ion-item>
  </ion-card>


</ion-content>
<ion-footer>
  <ion-button (click)="onNextPrev('prev')">
    <ion-icon name="caret-back-outline"></ion-icon>Prev
  </ion-button>
  <ion-button end (click)="onNextPrev('next')"class="rightButton">Next
    <ion-icon name="caret-forward-outline"></ion-icon>
  </ion-button>
</ion-footer>