<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>logo</ion-title>
  </ion-toolbar>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@2.3.2/dist/email.min.js"></script>
  <script type="text/javascript">
    (function () {
      emailjs.init("user_bfpYBxcMyOSkR0oaHUcZB");
    })();
  </script>
</ion-header>

<ion-content class="background">
  <ion-card style="margin-top: 15vh; height:66vh;width:85vw;padding-top:3vh;margin-left: 7vw;">
  <ion-text color="primary" style="text-align: center;">
    <h3 style="margin-top:0px">Feedback Form</h3>
  </ion-text>
  <ion-card-content style="padding-top:8vh;">
    <ion-item style="padding-bottom: 10px;">
      <ion-input required type="text" placeholder="Your Name" [(ngModel)]="user_name" (ionChange)="onAutoFormatChanged()">
      </ion-input>
    </ion-item>
    <ion-item  lines="none"style="margin:15px auto;">
      <ion-input type="email" placeholder="Your Email" style="font:revert" [(ngModel)]="user_email"> </ion-input>
    </ion-item>
    <ion-textarea maxLength="300" placeholder="Your Feedback" [(ngModel)]="user_feedback"
      (ionChange)="onAutoFormatChanged()" required>
    </ion-textarea>
    <div>
      <!-- <button [disabled]="!name || !surname || !username">Save</button> -->
      <ion-button [disabled]="!user_name || !user_email || !user_feedback" expand="full" fill="solid" color="primary" style="text-transform:none;font-size:20px; 
      margin-top: 15px;" shape="round" (click)="sendEmail()">
        Submit</ion-button>
    </div>
  </ion-card-content>
</ion-card>

  
</ion-content>



