ion-content.background{
    --background: url(../../../assets/images/blue-bg-70.png)0 0/100% 100% no-repeat ;
}

.segment{
    height: 5.5vh;
    width:50vw;
    position: fixed;
    left: 24vw;
    //top: 17vh;
    right: 0;
    background-color: #d7d8da;
}
.card{
    
    position: fixed;
}
.segment-button{
    margin: 0.5vh 0.5vw; 
    
}

.bg-transparent {
    background: transparent;
}


@font-face{
    font-family: Khand-Regular;
    font-style: regular;
    src: url("../../../assets/fonts/Khand-Regular.ttf");
}
@font-face{
    font-family: Khand-SemiBold;
    font-style: semi-bold;
    src: url("../../../assets/fonts/Khand-SemiBold.ttf");
}

@font-face{
    font-family: Dosis-Regular;
    font-style: regular;
    src: url("../../../assets/fonts/Dosis-Regular.ttf");
}
@font-face{
    font-family: Dosis-SemiBold;
    font-style: semi-bold;
    src: url("../../../assets/fonts/Dosis-SemiBold.ttf");
}

  
  

  
