
<ion-content >
  <div style="padding: 5px;">
    <ion-header></ion-header>
    <ion-item (click)="Edit()">
      <ion-icon name="pencil-outline"></ion-icon>
      <ion-label style="margin-right: 5px;">Edit</ion-label>
    </ion-item>
    <ion-item (click)="Delete()">
      <ion-icon name="trash-outline"></ion-icon>
      <ion-label style="margin-right: 5px;">Delete</ion-label>
    </ion-item>
    
  </div>
 
  
</ion-content>
<!-- <ion-item>
  <ion-icon name="close-outline"></ion-icon>
  <ion-label>Cancel</ion-label>
  
</ion-item> -->