<ion-item-divider sticky style="margin-top:1vh;">
  <ion-grid>
    <ion-row>
      <ion-col size="8" style="font-family: Khand-SemiBold; font-size:2.5vh;color:black;margin-top:-1vh;margin-left:-1vh">
        {{ aarti.marathiTitle}}
      </ion-col>
      <ion-col size="4" style="text-align:right;">
        <ion-button style="margin-top:-1vh;"(click)="close()" size="small" color="danger" >Close</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-item-divider>


<ion-content>
  <ion-item style=" font-family:Khand-Regular;margin-left: 0.5vh;">
    {{ aarti.marathiAarti }}
  </ion-item>
</ion-content>
